
	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>Level 1 Construction Marketing</h3>
					<p></p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 ">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
				
						<li><a href="#">Contact</a></li>
			
					</ul>
				</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016</small> 
					
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
