	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">

						<p class="num">Call: 252 315 5656</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<img src="images/level1media.png" width="60" height="60" alt="">
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!-- <li class="active"><a href="/">Home</a></li> -->
					
							<li><a href="about">About</a></li>
							<li class="btn-cta"><a href="contact">Contact</a></li>
						
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>