<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	
	<div class="fh5co-loader"></div>
	
	<div id="page">
	
	<!-- NAV -->
	
		<% include partials/nav.ejs %>



	<header style="background-image:url('images/large.jpg'); background-position:center center; background-size:cover; height: 640px; padding: 250px 0px; z-index:-9;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1 style="color:#fff;">Level 1 Construction Marketing <strong>Exclusively Construction</strong></h1>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


		<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>What We Doe</h2>
					<p>Web Design & SEO Exclusively For Construction Companies</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="iphone">
						<img class="img-responsive" src="images/download.jpg" alt="iphone">
					</div>
				</div>
				<div class="col-md-6">
					<div class="row services-inner">
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-image"></i>
								</span>
								<h3>Wordpress Development</h3>
								<p>At level 1 Constuction Marketing, we try our best to make wordpress work in your favor, whether its making a theme or updating a color scheme, we got your back</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-laptop"></i>
								</span>
								<h3>SEO</h3>
								<p>We know customers don't find you on the yellow pages anymore, their using their smartphones to find you using search engines like google, this is where your business needs to be</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-air-play"></i>
								</span>
								<h3>Google My Business</h3>
								<p>At level 1 Constuction Marketing, we will set you up with a google my business page, so that you will be one step closer to being visible to your high end customers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	


	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Our Latest Work</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
		</div>
		<div class="project-content">
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot4.png);  background-size:cover;">
					<a href="https://level1media.github.io/construction.io/" class="desc">
						<span>Project</span>
						<h3>Danson Construction</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot5.png); background-size:cover;">
					<a href="https://level1media.github.io/construction7.io/" class="desc">
						<span>Project</span>
						<h3>Adams Southeastern Construction</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot6.png);">
					<a href="https://level1media.github.io/construction2.io/" class="desc">
						<span>Project</span>
						<h3>Clancy &amp; Theys - Construction Company</h3>
					</a>
				</div>
			</div>

				<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot7.png);">
					<a href="https://level1media.github.io/construction3.io/" class="desc">
						<span>Project</span>
						<h3>CADCO Construction </h3>
					</a>
				</div>
			</div>


			
			
		</div>
	</div>
	


	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Get in Touch</a></p>
				</div>
			</div>
		</div>


	</div>

		<% include partials/footer.ejs %>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>


	<% include partials/scripts.ejs %>
</body>
</html>