<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	
	<div class="fh5co-loader"></div>
	
	<div id="page">
	
	<!-- NAV -->
	
		<% include partials/nav.ejs %>



	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Level 1 Media <strong>For the Millennials</strong></h1>
							<p><a href="#" class="btn btn-primary btn-lg with-arrow">View Our Work</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


		<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>What We Doe</h2>
					<p>Web Design & SEO </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="iphone">
						<img class="img-responsive" src="images/iphone.png" alt="iphone">
					</div>
				</div>
				<div class="col-md-6">
					<div class="row services-inner">
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-image"></i>
								</span>
								<h3>Wordpress Development</h3>
								<p>At level 1 media, we try our best to make wordpress work in your favor, whether its making a theme or updating a color scheme, we got your back</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-laptop"></i>
								</span>
								<h3>SEO</h3>
								<p>We know customers don't find you on the yellow pages anymore, their using their smartphones to find you using search engines like google, this is where your business needs to be</p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<i class="icon-air-play"></i>
								</span>
								<h3>Google My Business</h3>
								<p>At level 1 Media, we will set you up with a google my business page, so that you will be one step closer to being visible to your customers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	


	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Our Latest Work</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
		</div>
		<div class="project-content">
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot.png);  background-size:cover;">
					<a href="https://mysterious-reef-36026.herokuapp.com/" class="desc">
						<span>Project</span>
						<h3>Gratitude Hot Yoga Center</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot1.png); background-size:cover;">
					<a href="https://level1media.github.io/hvacdemo.github.io/" class="desc">
						<span>Project</span>
						<h3>A Groehrig & Son</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/Screenshot2.png);">
					<a href="https://kentonfriendsofyouth.org" class="desc">
						<span>Project</span>
						<h3>Kenton Friends of Youth</h3>
					</a>
				</div>
			</div>
			
		</div>
	</div>
	


	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Get in Touch</a></p>
				</div>
			</div>
		</div>


	</div>

		<% include partials/footer.ejs %>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>


	<% include partials/scripts.ejs %>
</body>
</html>